

<body class="posts_body">
<div class="content">

    <div class="posts_column">
        <% @posts.each do |post| %>
        <div class="blog_post">
            <p id="post_title"><%= post.title.capitalize %></p>
            <% if (post.body.length > 55) then %>
                <p> <%= post.body[0,40] %>... <%= link_to '<Read More>',post,{:style =>'color:#CCFFFF;'}%> </p>
            <% else %>
                <p> <%= post.body %> </p>
            <%end%>

        </div>
        <% end %>
    </div>


</div>
</body>

<%= render 'sidebar' %>